{{define "content"}}
<div class="pt-3">
  <div class="d-flex justify-content-between">
    <h1>List of services</h1>
    <button class="btn btn-primary" hx-get="/services/new" hx-push-url="true" hx-target="#base" hx-swap="innerHTML">New
      Service</button>
  </div>
  <input type="text" name="q" hx-get="/services" hx-push-url="true" hx-trigger="keyup changed delay:500ms"
    hx-swap="innerHTML" hx-target="#table-body" placeholder="Search...">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody id="table-body">
      {{block "service-row" .}} {{end}}
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    {{block "pagination" .}} {{end}}
  </div>
</div>
{{end}}
